<div class="container-fluid p-2" id="background-image-merch">
  <div class="row p-2">
    <div class="section-title">
      <div class="rectangle-back"></div>
      <div class="section-title-intro-text">Merch.</div>
      <div class="rectangle-front"></div>
    </div>
  </div>

  <div class="row p-2">
    <div class="col d-flex justify-content-center align-items-center pb-4">
      <div class="text-style-1">
        Wanna wear some spicy shirts? You can have them right now:
      </div>
    </div>
  </div>

  <div class="row px-2">
    <div class="col d-flex justify-content-center align-items-center">
      <div id="horizontal-scroll-container" #merchScrollContainer>
        @for (merchItem of merchItems(); track merchItem.title) {
        <div class="merch-card hover-card">
          <img
            class="merch-img"
            [src]="merchItem.src"
            alt="CRBRVS merch item"
            loading="lazy"
          />
          <div class="p-2">
            <h4 class="pink-color">{{ merchItem.title }}</h4>
            <h4 class="pink-color">{{ merchItem.price }} RON</h4>
          </div>
          <button class="w-100" (click)="openMerchItemModal(merchItem)">
            Seems interesting
          </button>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="row px-2">
    <div class="col d-flex justify-content-center align-items-center pb-4">
      <button class="player-controls-btn" (click)="scrollLeft()">
        <span class="player-action-icon action-btn-backward"></span>
      </button>
      <button class="player-controls-btn" (click)="scrollRight()">
        <span class="player-action-icon action-btn-forward"></span>
      </button>
    </div>
  </div>
</div>

@if (isMerchModalOpen()) {
<div
  class="full-view-background"
  animate.leave="leaving"
  (click)="closeMerchItemModal()"
></div>

<div class="get-merch-modal" animate.leave="leaving">
  <div class="customModal-header">
    <h1>What's this {{ selectedMerchItem()?.title }}?</h1>
    <button (click)="closeMerchItemModal()" class="close-button">
      &times;
    </button>
  </div>

  <div class="container-fluid">
    <div class="row p-2 d-flex justify-content-center align-items-center">
      <img
        class="merch-img-full"
        [src]="selectedMerchItem()?.src"
        alt="CRBRVS official merchandise item"
        title="CRBRVS Official Merchandise"
        loading="lazy"
      />
    </div>

    <div class="row p-2">
      <p>Description: {{ selectedMerchItem()?.description }}</p>
      <p>Price: {{ selectedMerchItem()?.price }} RON</p>
      <p>Interested in this merch?</p>
    </div>

    <div class="row p-2">
      <div class="col-sm-6 py-2">
        <a class="fullSpaceHref" href="tel:+40744210017">
          <button class="w-100">
            <span><i class="bi bi-telephone white-icon"></i></span>
            <span class="ms-2"> Call me </span>
          </button>
        </a>
      </div>
      <div class="col-sm-6 py-2">
        <a class="fullSpaceHref" href="mailto:crbrvsraps@gmail.com">
          <button class="w-100">
            <span><i class="bi bi-envelope white-icon"></i></span>
            <span class="ms-2"> E-mail me </span>
          </button>
        </a>
      </div>
    </div>

    <div class="row p-2">
      <p>
        *Payment is only by cash on delivery after contacting me to confirm
        shipment.
      </p>
    </div>
  </div>
</div>
}
