#background-image-contact {
  background-image: linear-gradient(
      -45deg,
      rgba(255, 55, 120, 0.6),
      rgba(1, 92, 87, 0.6)
    ),
    url(/assets/images/crbrvs5.webp);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.invalid-feedback {
  color: var(--main-second-color);
  font-size: 1rem;
}

.form-label {
  display: flex;
  width: 100%;
  padding: 6px;
  font-size: 2rem;
  color: var(--main-second-color);
  text-shadow: 2px 2px var(--main-first-color);
}

.form-control {
  border-radius: 8px;
  font-size: 1.25rem;
  background: var(--main-light-color);
}

.form-control:focus {
  border-color: var(--main-first-color);
  box-shadow: none;
}

.form-control:focus-visible {
  outline: 3px solid var(--main-light-color);
  outline-offset: 2px;
  box-shadow: 0 0 0 5px var(--main-second-color);
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 2px;
  color: var(--main-second-color);
  font-size: 1.6rem;
  text-shadow: 2px 2px var(--main-first-color);
}

.contact-info-entry {
  display: flex;
  padding: 1rem;
  font-size: 2rem;
}

.contact-card {
  width: 100%;
}

.contact-card-icons {
  padding: 0.4rem;
}

.contact-card-text {
  padding: 0.4rem;
}

@media (max-width: 1080px) {
  .contact-info-entry {
    display: block;
  }
}

@media (max-width: 576px) {
  .contact-info-entry {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 24px;
  }
}

/* --------------------------------------------- */

.send-email-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 1rem;
  z-index: 10;
  width: 80%;
  border-radius: 1.4rem;
  background: var(--main-light-color);
  text-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  color: var(--main-first-color);
  border: 0.2rem solid var(--main-first-color);
  transition: transform 300ms ease-in;

  @starting-style {
    transform: translate(-50%, -50%) scale(0);
  }
}

.send-email-modal.leaving {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms ease-out;
}

#email-popup-text-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

#email-popup-text-header {
  padding: 1rem;
}

#email-popup-text-paragraph {
  padding: 1rem;
}
