<footer
  class="row d-flex flex-wrap align-items-center justify-content-between p-2 footer-wrapper"
>
  <div class="outerColumnFooter1 col-md-6 d-flex flex-wrap p-2">
    <div class="innerColumnFooter11 col d-flex text-muted">
      <span class="hover-item">CRBRVS</span>
    </div>
    <div class="innerColumnFooter12 col d-flex text-muted">
      <a
        href="https://linktr.ee/crbrvs"
        aria-label="Visit CRBRVS on LinkTree"
        target="_blank"
        rel="noopener noreferrer"
        class="hover-item cursor-pointer"
        title="Visit CRBRVS on LinkTree"
      >
        LinkTree</a
      >
    </div>
  </div>

  <div class="outerColumnFooter2 col-md-6 d-flex flex-wrap p-2">
    <div class="innerColumnFooter21 col d-flex">
      <ul class="nav gap-3 list-unstyled">
        <li class="d-flex align-items-center hover-icon">
          <a
            href="https://www.facebook.com/CRBRVS/"
            aria-label="Facebook"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="bi bi-facebook hover-icon" aria-hidden="true"></i>
          </a>
        </li>
        <li class="d-flex align-items-center hover-icon">
          <a
            href="https://www.instagram.com/_crbrvs/"
            aria-label="Instagram"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="bi bi-instagram hover-icon" aria-hidden="true"></i>
          </a>
        </li>
        <li class="d-flex align-items-center hover-icon">
          <a
            href="https://www.youtube.com/channel/UCgwEGZvzNM-J6QkOcQ2ysrw"
            aria-label="YouTube"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="bi bi-youtube hover-icon" aria-hidden="true"></i>
          </a>
        </li>
        <li class="d-flex align-items-center hover-icon">
          <a
            href="https://open.spotify.com/artist/5K2zVyaTtGCT7y4EjMcTot"
            aria-label="Spotify"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="bi bi-spotify hover-icon" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="innerColumnFooter22 col d-flex text-muted">
      <span class="hover-item">©2024</span>
    </div>
  </div>

  <div class="row p-2">
    <div class="d-flex text-muted justify-content-center mb-4">
      <div class="wrapperDeveloped hover-item">
        <a
          href="https://dan-frunza.web.app/"
          aria-label="Dan Frunza"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="text-line-height"
            >Developed & maintained by DanFrunza</span
          >
          <i class="danfrunzaIcon"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
