#scroll-to-top-btn {
  display: block;
  position: fixed;
  z-index: 99;
  font-size: 200%;
  font-weight: 900;
  border: none;
  background-color: var(--main-first-color);
  color: var(--main-second-color);
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 8px;
  box-shadow: 4px 4px var(--main-second-color);
  border: 0.1px solid var(--main-second-color);
  text-align: center;
  pointer-events: auto;
  bottom: -3rem;
  right: -3rem;
  transition: bottom 300ms, right 300ms;
}

#scroll-to-top-btn.visible {
  bottom: 1rem;
  right: 1rem;
}

#scroll-to-top-btn:active {
  box-shadow: 0 6px var(--main-second-color);
  transform: translateY(4px);
}
