@if (currentSong()) {
<div class="music-player">
  <img
    class="artwork"
    [ngSrc]="currentSong()!.artwork"
    width="1080"
    height="1080"
    [alt]="currentSong()!.title + ' Artwork'"
  />

  <div class="song-info">
    {{ currentSong()!.title }}
  </div>

  <div class="song-info">{{ currentIndex() + 1 }}/{{ songs().length }}</div>

  <div class="progress-bar">
    <progress
      [value]="currentTime()"
      [max]="currentAudioDuration()"
      [attr.aria-valuemax]="currentAudioDuration()"
      class="custom-progress"
    ></progress>

    <div class="time-display">
      <span>{{ formattedCurrentTime() }}</span>
      <span>{{ formattedDuration() }}</span>
    </div>
  </div>

  <div class="player-controls">
    <button
      class="player-controls-btn"
      (click)="playPreviousSong()"
      aria-label="Previous song"
    >
      <span class="player-action-icon action-btn-backward"></span>
    </button>

    <button
      class="player-controls-btn"
      (click)="playStopSong()"
      [attr.aria-label]="isPlaying() ? 'Stop' : 'Play'"
    >
      <span
        class="player-action-icon"
        [class.action-btn-stop]="isPlaying()"
        [class.action-btn-play]="!isPlaying()"
      ></span>
    </button>

    <button
      class="player-controls-btn"
      (click)="playNextSong()"
      aria-label="Next song"
    >
      <span class="player-action-icon action-btn-forward"></span>
    </button>
  </div>
</div>
}
