<section aria-labelledby="music-heading">
<div class="container-fluid p-2" id="background-image-music">
  <div class="row p-2">
    <div class="section-title">
      <div class="rectangle-back"></div>
      <h2 id="music-heading" class="section-title-intro-text">Music.</h2>
      <div class="rectangle-front"></div>
    </div>
  </div>
  <div class="row p-2">
    <div
      class="col-md-8 col-sm-7 d-flex justify-content-center align-items-center"
    >
      <div class="text-style-1">
        I'm a young rapper that does not set boundaries when it comes to
        crafting quality music. Go check out some sample songs that I've
        created:
      </div>
    </div>
    <div
      class="col-md-4 col-sm-5 d-flex flex-row justify-content-center align-items-center p-2"
    >
      <app-music-player></app-music-player>
    </div>
  </div>
  <div class="row p-2">
    <div
      class="col-md-8 col-sm-7 d-flex justify-content-center align-items-center"
    >
      <div class="text-style-1">Here is my latest content:</div>
    </div>
    <div
      class="col-md-4 col-sm-5 d-flex justify-content-center align-items-center p-2"
    >
      <div class="youtube-embed-container">
        <iframe
          id="youtube_embed"
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/videoseries?si=SKgsrMK9DAB0vjF-&amp;list=PLQNPAQvKSYdssv85hPn_qHEVV2JMEmLhj"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; compute-pressure; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="background-image-youtube">
  <div class="row p-2">
    <div class="col">
      <div class="text-style-1">
        Also, don't forget to check out my songs on Spotify, Apple Music, Tidal
        or Youtube Music:
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="music-link-card-container">
      <div
        class="col-sm-3 d-flex justify-content-center align-items-center pb-4 music-icon-column-left"
      >
        <a
          href="https://open.spotify.com/artist/5K2zVyaTtGCT7y4EjMcTot"
          aria-label="Listen to CRBRVS on Spotify"
          target="_blank"
          rel="noopener noreferrer"
          title="Listen to CRBRVS on Spotify"
        >
          <div class="card music-link-card hover-item">
            <img
              class="music-logo"
              ngSrc="/assets/images/musicLogos/spotify.svg"
              width="140"
              height="140"
              alt="Listen to CRBRVS on Spotify"
            />
          </div>
        </a>
      </div>

      <div
        class="col-sm-3 d-flex justify-content-center align-items-center pb-4 music-icon-column-right"
      >
        <a
          href="https://music.apple.com/za/artist/CRBRVS/1498001976"
          aria-label="Listen to CRBRVS on Apple Music"
          target="_blank"
          rel="noopener noreferrer"
          title="Listen to CRBRVS on Apple Music"
        >
          <div class="card music-link-card hover-item">
            <img
              class="music-logo"
              ngSrc="/assets/images/musicLogos/applemusic.svg"
              width="140"
              height="140"
              alt="Listen to CRBRVS on Apple Music"
            />
          </div>
        </a>
      </div>

      <div
        class="col-sm-3 d-flex justify-content-center align-items-center pb-4 music-icon-column-left"
      >
        <a
          href="https://tidal.com/browse/artist/37539698"
          aria-label="Listen to CRBRVS on Tidal"
          target="_blank"
          rel="noopener noreferrer"
          title="Listen to CRBRVS on Tidal"
        >
          <div class="card music-link-card hover-item">
            <img
              class="music-logo"
              ngSrc="/assets/images/musicLogos/tidal.svg"
              width="140"
              height="140"
              alt="Listen to CRBRVS on Tidal"
            />
          </div>
        </a>
      </div>

      <div
        class="col-sm-3 d-flex justify-content-center align-items-center pb-4 music-icon-column-right"
      >
        <a
          href="https://music.youtube.com/browse/UC1Ll1SubmTbLAiy5ZTWJzIQ"
          aria-label="Listen to CRBRVS on YouTube Music"
          target="_blank"
          rel="noopener noreferrer"
          title="Listen to CRBRVS on YouTube Music"
        >
          <div class="card music-link-card hover-item">
            <img
              class="music-logo"
              ngSrc="/assets/images/musicLogos/ytmusic.svg"
              width="140"
              height="140"
              alt="Listen to CRBRVS on YouTube Music"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col d-flex justify-content-center align-items-center pb-4">
      <div class="card hover-item-video">
        <a
          href="https://www.youtube.com/channel/UCgwEGZvzNM-J6QkOcQ2ysrw"
          aria-label="Watch CRBRVS on YouTube"
          target="_blank"
          rel="noopener noreferrer"
          title="Watch CRBRVS on YouTube"
        >
          <div class="teaser-video-container">
            <div class="video-overlay">
              <div class="row">
                <i
                  class="bi bi-youtube hover-icon yt-custom-icon"
                  aria-hidden="true"
                ></i>
              </div>
              <div class="row p-2">
                <strong
                  >Check out my YouTube channel for the latest music and
                  news!</strong
                >
              </div>
            </div>
            <video autoplay loop muted playsinline id="teaserVideo">
              <source src="/assets/videos/CRBRVS_Teaser.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</section>
